.SearchFormContainer{
    background-color:  rgba(94, 43, 9, 0.164);
    color: rgb(104, 47, 10);
    font-style: italic;
    font-family: 'Times New Roman' serif;
}

.SearchFormContainer .SearchForm {
    padding: 3%;
}

.SearchFormContainer .SearchForm .Label {
    font-size: 18px;
}

.SearchFormContainer .SearchForm .Input {
    width: 80%;
}

.SearchFormContainer .SearchForm .Input label {
    background-color: rgba(255, 243, 236, 0.616);
    font-size: 15px;
}

.SearchFormContainer .SearchForm .Dropdown {
    border-radius: .25rem;
}

.SearchFormContainer .SearchForm .Dropdown input {
    background-color: rgba(252, 247, 247, 0.884);
    font-size: 15px;
    width: 85%;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
}

.SearchFormContainer .SearchForm .Dropdown button {
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;

}

.SearchFormContainer .SearchForm .SearchButtom{
    padding: .1rem .3rem;
    font-size: .91rem;
}

@media (max-width: 768px) {
    .SearchFormContainer .SearchForm .Input {
        width: 100%;
    }
    .SearchFormContainer .SearchForm .Dropdown input {
        width: 93%;
    }
    .SearchFormContainer .SearchForm .ButtonGroup {
        margin-top: 5%;
    }
}